{% extends 'layout.html.twig' %}

{% block title %} Modifier la publication {% endblock title %}

{% block content %}
    <div class="container-fluid px-4">
        <h4 class="mt-4"> Gestion des publications </h4>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/index.php?action=dashboard">Tableau de bord</a></li>
            <li class="breadcrumb-item active">modifier la publication</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="me-1"></i>
                Modifier la publication
            </div>
            <div class="card-body">
                <form method="post" action="index.php?action=dashboard/editPost&amp;id={{ post.id }}&amp;token={{ token }}">
                    <div class="mb-3 row visually-hidden">
                        <label for="id" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input id="id" class="form-control" type="hidden" name="id" value="{{ post.id }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="title" class="col-sm-2 col-form-label">Titre<span>*</span></label>
                        <div class="col-sm-10">
                            <input id="title" class="form-control" type="text" name="title" value="{{ post.title }}"
                                   required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="user_id" class="col-sm-2 col-form-label">Author<span>*</span></label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label=".form-select-lg example" id="user_id" name="user_id"
                                    required>
                                <option selected>-- sélectionner un utilisateur --</option>
                                {% for user in users %}
                                    {% if user.role == '1' %}
                                        <option value="{{ user.id }}" name="user_id"
                                            {% if post.user_id == user.id %} selected {% endif %}>{{ user.lastName }} {{ user.firstName }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="chapo" class="col-sm-2 col-form-label">Chapô<span>*</span></label>
                        <div class="col-sm-10">
                            <input id="chapo" class="form-control" type="text" name="chapo" value="{{ post.chapo }}"
                                   required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="content" class="col-sm-2 col-form-label">Contenu<span>*</span></label>
                        <div class="col-sm-10">
                            <textarea id="content" class="form-control" name="content" required>{{ post.content }}</textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="published" class="col-sm-2 col-form-label">Publiée<span>*</span></label>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="published"
                                       id="flexRadioDefault1" {% if post.published == 1 %} checked {% endif %} value="1"
                                       required>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    oui
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="published"
                                       id="flexRadioDefault2" {% if post.published == 0 %} checked {% endif %} value="0"
                                       required>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    non
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="justify-content-between">
                            <a class="btn btn-primary" href="index.php?action=dashboard/listPosts&amp;token={{ token }}" role="button">Retour
                                liste</a>
                            <button class="btn btn-primary" type="submit" name="submit">Mettre à jour</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}