{% extends 'layout.html.twig' %}

{% block title %} Liste des commentaires  {% endblock title %}

{% block stylesheet %} {% endblock stylesheet %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h4 class="mt-4">Gestion des commentaires</h4>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.php?action=dashboard">Tableau de bord</a></li>
            <li class="breadcrumb-item active">liste des commentaires</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Liste des commentaires
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Commentaire</th>
                            <th>Titre de la publication</th>
                            <th>Utilisateur</th>
                            <th>Date</th>
                            <th>Valider (non/oui)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for comment in listComments %}
                        <tr>
                            <td>{{ comment.content }}</td>
                            <td>{{ comment.postTitle }}</td>
                            <td>{{ comment.lastnameAuthor }} {{ comment.firstnameAuthor }}</td>
                            <td>{{ comment.createdAt }}</td>
                            <td>
                                <div class="form-check form-switch">
                                    {% if comment.isEnabled == 1 %}
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                                        <label for="flexSwitchCheckDefault"></label>
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label for="flexSwitchCheckDefault"></label>
                                    {%  endif %}
                                </div>
                            </td>
                            <td>
                                <a href="index.php?action=dashboard/editComment&id={{ comment.id }}">Modifier</a>
                                <a href="index.php?action=dashboard/readComment&id={{ comment.id }}">Afficher</a>
                                <a href="javascript:void(0)" onclick="deleteComment({{ comment.id }})">supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block javascript %}
    function deleteComment(id)
    {
        if(confirm("Êtes vous sûr de vouloir supprimer le commentaire ?")){
            window.location.href = "index.php?action=dashboard/deleteComment&id=" + id;
        }
        else {
            alert("Vous avez annulé la suppression");
        }
    }
    window.deleteComment = deleteComment;
{% endblock %}