{% extends 'layout.html.twig' %}

{% block title %} Liste des utilisateurs  {% endblock title %}

{% block stylesheet %} {% endblock stylesheet %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h4 class="mt-4">Gestion des utilisateurs</h4>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.php?action=dashboard">Tableau de bord</a></li>
            <li class="breadcrumb-item active">liste des utilisateurs</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Liste des utilisateurs
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>E-mail</th>
                        <th>Rôles</th>
                        <th>Date de création</th>
                        <!--<th>Activation compte (non/oui)</th>-->
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in listUsers %}
                    <tr>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.createdAt }}</td>
                        <td>
                            <a href="index.php?action=dashboard/readUser&id={{ user.id }}">Afficher</a>
                            <a href="index.php?action=dashboard/editUser&id={{ user.id }}">modifier</a>
                            <a href="index.php?action=dashboard/deleteUser&id={{ user.id }}" onclick="deleteUser()">supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block javascript %}
    <script type="application/javascript">
        function deleteUser()
        {
            confirm("Etes vous sur de vouloir supprimer cet utilisateur");
        }
    </script>
{% endblock %}