{% extends 'layout.html.twig' %}

{% block title %} Liste des publications  {% endblock title %}

{% block stylesheet %} {% endblock stylesheet %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h4 class="mt-4">Gestion des publications</h4>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.php?action=dashboard">Tableau de bord</a></li>
            <li class="breadcrumb-item active">liste des publications</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Liste des publications
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Chapô</th>
                        <th>Date</th>
                        <th>Publié (non/oui)</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in listPosts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.lastName }} {{ post.firstName }}</td>
                        <td>{{ post.chapo }}</td>
                        <td>{{ post.lastUpdate }}</td>
                        <td>
                            {% if post.published == 1 %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                    <label for="flexSwitchCheckChecked"></label>
                                </div>
                            {% else %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                                    <label for="flexSwitchCheckChecked"></label>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <a href="index.php?action=dashboard/readPost&amp;id={{ post.id }}"> Afficher</a>
                            <a href="index.php?action=dashboard/editPost&amp;id={{ post.id }}"> modifier</a>
                            <a href="index.php?action=dashboard/deletePost&amp;id={{ post.id }}" onclick="deletePost()"> supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block javascript %}
    function deletePost()
    {
        if(confirm("Êtes vous sûr de vouloir supprimer le post ?")){
            window.location.href = "index.php?action=dashboard/listPosts";
        }
        else {
            alert("Vous avez annulé la suppression");
        }
    }
    window.deletePost = deletePost;
{% endblock %}