{% extends 'layout.html.twig' %}

{% block title %} Détails de la publication {% endblock title %}

{% block content %}
    <div class="container-fluid px-4">
        <h4 class="mt-4"> Gestion des publications </h4>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.php?action=dashboard">Tableau de bord</a></li>
            <li class="breadcrumb-item active"> détails de la publication</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="me-1"></i>
                Détails de la publication
            </div>
            <div class="card-body">
                <p><b>Titre</b> : {{ post.title }}</p>
                <p><b>Auteur</b> : {{ post.lastnameAdmin }} {{ post.firstnameAdmin }}</p>
                <p><b>Chapô</b> : {{ post.chapo }}</p>
                <p><b>Contenu</b> : {{ post.content }}</p>
                {% if post.published == 1 %}
                    <p><b>Publiée</b> : oui</p>
                {% else %}
                    <p><b>Publiée</b> : non</p>
                {% endif %}
                <p><b>Date de création</b> : {{ post.createdAt|date("d/m/Y \\à h:m:s") }}</p>
                <p><b>Date de dernière modification</b> : {{ post.lastUpdate|date("d/m/Y \\à h:m:s") }}</p>
                <div class="d-flex justify-content-end">
                    <div class="justify-content-between">
                        <a class="btn btn-primary" href="index.php?action=dashboard/listPosts&amp;token={{ token }}" role="button">Retour
                            liste</a>
                        <a href="index.php?action=dashboard/editPost&amp;id={{ post.id }}&amp;token={{ token }}">
                            <button class="btn btn-primary">Modifier</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}