{% extends 'layout.html.twig' %}

{% block title %} Détails du commentaire {% endblock title %}

{% block stylesheet %}
    <link href="public/css/backoffice/readComment.css" rel="stylesheet"/>
{% endblock stylesheet %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h4 class="mt-4"> Gestion des commentaires </h4>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.php?action=dashboard">Tableau de bord</a></li>
            <li class="breadcrumb-item active"> détails du commentaire</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="me-1"></i>
                Détails du commentaire
            </div>
            <div class="card-body">
                <p><b>Commentaire</b> : {{ comment.content }}</p>
                <p><b>Date du commentaire</b> {{ comment.createdAt }}</p>
                <p><b>Validé</b> : {% if comment.isEnabled == 1 %} oui {% else %} non {% endif %}</p>
                <p><b>Titre de la publication</b> : {{ comment.postTitle }}</p>
                <p><b>Auteur</b> : {{ comment.postAuthor }}</p>
                <div class="d-flex justify-content-end">
                    <div class="justify-content-between">
                        <a href="index.php?action=dashboard/listComments"><button class="btn btn-primary">Retour liste</button></a>
                        <a href="index.php?action=dashboard/editComment&amp;id={{ comment.id }}"><button class="btn btn-primary">Modifier</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}