{% extends 'layout.html.twig' %}

{% block title %} Détails d'un utilisateur {% endblock title %}

{% block stylesheet %}
    <link href="public/css/backoffice/readUser.css" rel="stylesheet"/>
{% endblock stylesheet %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h4 class="mt-4"> Gestion des utilisateurs </h4>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.php?action=dashboard">Tableau de bord</a></li>
            <li class="breadcrumb-item active"> détails de l'utilisateur</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="me-1"></i>
                Détails de l'utilisateur
            </div>
            <div class="card-body">
                <p><b>Nom</b> : {{ user.lastName }}</p>
                <p><b>Prénom</b> : {{ user.firstName }}</p>
                <p><b>E-mail</b> : {{ user.email }}</p>
                <p><b>Rôle</b> : {% if user.role == 1 %} administrateur {% else %} visiteur {% endif %}</p>
                <p><b>Date d'inscription</b> : {{ user.createdAt|date("d/m/Y \\à h:m:s") }}</p>
                <div class="d-flex justify-content-end">
                    <div class="justify-content-between">
                        <a href="index.php?action=dashboard/listUsers&amp;token={{ token }}"><button class="btn btn-primary">Retour liste</button></a>
                        <a href="index.php?action=dashboard/editUser&amp;id={{ user.id }}&amp;token={{ token }}"><button class="btn btn-primary">Modifier</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}