{% extends 'template.html.twig' %}

{% block title %} {{ "title of post" }} {% endblock title %}

{% block stylesheet %}
    <link href="public/css/frontoffice/blogs.css" rel="stylesheet" />
{% endblock stylesheet %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <article>
                <header class="mb-4">
                    <h2 class="fw-bolder mb-1">{{ post.title }}</h2>
                    <p class="mb-2">{{ post.chapo }}</p>
                </header>
                <div class="text-muted fst-italic mb-2">Posté le {{ post.lastUpdate }} <span>par : </span>{{ post.lastnameAdmin }} {{ post.firstnameAdmin }}</div>
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ post.content }}</p>
                </section>
            </article>
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <form class="mb-4" method="post" action="index.php?action=post&id={{ post.id }}">
                            <textarea class="form-control" rows="3" placeholder="laisser un commentaire" name="content"></textarea>
                            <div class="d-flex justify-content-end mt-2">
                                <input type="submit" value="Commenter" name="submit">
                            </div>
                        </form>
                        {% for comment in comments %}
                            {% if comment.isEnabled == 1 %}
                                <div class="d-flex mb-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{ comment.lastnameVisitor }} {{ comment.firstnameVisitor }}</div>
                                        {{ comment.content }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}

