{% extends 'template.html.twig' %}

{% block title %} Blog {% endblock title %}

{% block stylesheet %}
    <link href="public/css/frontoffice/blogs.css" rel="stylesheet"/>
{% endblock stylesheet %}

{% block content %}
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-12">
                <div class="row">
                    {% for post in listPosts %}
                        {% if post.published == 1 %}
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="small text-muted">{{ post.lastUpdate }}</div>
                                        <h2 class="card-title h4">{{ post.title }}</h2>
                                        <p class="card-text">{{ post.chapo }}....</p>
                                        {% if logged_user is defined and logged_user is not null %}
                                        <a class="btn btn-primary" href="index.php?action=commentPost&id={{ post.id }}&amp;token={{ token }}">Lire plus →</a>
                                        {% else %}
                                        <a class="btn btn-primary" href="index.php?action=post&id={{ post.id }}">Lire plus →</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
